.git
.github
.vscode
.idea
.cursor
.zed
.codex
.nova
.DS_Store
Thumbs.db

node_modules
vendor

tests
phpunit.xml
.phpunit.cache
.phpunit.result.cache

.env
.env.backup
.env.production
.env.local

*.log
storage/logs/*
storage/framework/cache/*
storage/framework/sessions/*
storage/framework/views/*

docker-compose.yml
Dockerfile
.dockerignore

README.md
_ide_helper.php
.editorconfig
.phpactor.json
auth.json
Homestead.json
Homestead.yaml
